<!-- views/profile.ejs -->
<!doctype html>

	<h1>个人主页</h1>
	<a href="/logout" >登出</a>

	<h3>项目信息</h3>


	<% if ( flock.length > 0 ) { %>
		<% for(var i=0; i<flock.length; i++) { %>
			<div >————————————————————————————————————————————————————————</div>
			<strong>项目名称</strong>:<div id = "project_name"> <%= flock[i].project.project_name %></div><br>
			<strong>id</strong>:<div id = "id"> <%= flock[i].project.id %></div><br>
			<strong>wechat</strong>: <div id = "wechat_link"><%= flock[i].project.wechat_link %></div><br>
			<strong>default</strong>: <div id = "default_link"><%= flock[i].project.default_link %></div><br>
			<strong>ios</strong>:<div id = "id"> <%= flock[i].project.ios_link %></div><br>
			<strong>android</strong>:<div id = "id"> <%= flock[i].project.android_link %></div><br>

			
			<strong>Access</strong>:<div id = "id"> <%= flock[i].access %></div><br>
			
<%          
			var link = req.protocol + '://' + req.get('Host') + '/project/link/' + flock[i].project.id;
			var qrImageUrl = 'http://chart.apis.google.com/chart?cht=qr&chs=200x200&chl=' + encodeURIComponent(link);
			var imgId = "qr" + i;
			
%>
    		<script type="text/javascript" src="/js/sample.js"></script>
			<script>
			$(document).ready(function(){
			 	$('<%= imgId %>').innerHTML = update_qrcode('<%= imgId %>','<%= link %>');
			 // console.log("innerHTML" + $('<%= imgId %>').innerHTML);
			});
			</script>

<!-- 			<input type="button" value="update" onclick="update_qrcode('<%= imgId %>','<%= link %>')"/> -->

			<div id="<%= imgId %>"></div>
<!-- 			<a href ='<%=qrImageUrl%>' >
				<%=qrImageUrl%>
			</a> -->

			<strong>项目位置</strong>: <div id = "project_link">
			<a href='/project/link/<%= flock[i].project.id %>'>项目链接</a>
			</div><br>
			<a href='/api/projects/<%= flock[i].project.id %>'>项目API</a>
			</div><br>
			<a href='/project/edit/<%= flock[i].project.id %>'>修改</a>
			<br>
			<div >————————————————————————————————————————————————————————</div>
		<% } %>
	<% } %>
	<a href='/project/new'>添加</a>

