<!-- views/link.ejs -->
<!doctype html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1> 一个项目</h1>
	<!-- show any messages that come back with authentication -->
	<!-- LOGIN FORM -->

	</div><br>
	<strong>id</strong>:<div id = "id"> <%= project.id %></div><br>
	<strong>default</strong>: <div id = "wechat_link"><%= project.default_link %></div><br>
	<strong>wechat</strong>: <div id = "wechat_link"><%= project.wechat_link %></div><br>
	<strong>android</strong>: <div id = "wechat_link"><%= project.android_link %></div><br>
	<strong>ios</strong>: <div id = "wechat_link"><%= project.ios_link %></div><br>
	
	<a href="/project/display" >个人主页</a>
</body>
</html>
